In [1]:
import pandas as pd

In [2]:
import dask
import dask.dataframe as dd

In [3]:
# Load all keys (all years)
spx_data = dd.read_hdf("../data/options_data_compressed.h5", key="/*")

In [4]:
spx_data.info(memory_usage=True)

<class 'dask.dataframe.core.DataFrame'>
Columns: 21 entries, 0 to volume
dtypes: category(1), datetime64[ns](2), object(5), float64(13)
memory usage: 2.6 GB

In [5]:
len(spx_data)

16756738

In [6]:
start = pd.Timestamp("2016-01-01")
end = pd.Timestamp("2017-12-31")
sliced = spx_data[(spx_data["quotedate"] >= start) & (spx_data["quotedate"] <= end)].compute()

In [7]:
# sliced.visualize()

In [8]:
sliced.head()

,0,ask,bid,delta,exchange,expiration,gamma,impliedvol,last,openinterest,...,optionext,optionroot,quotedate,strike,theta,type,underlying,underlying_last,vega,volume
0,NaN,1716.5,1712.6,1.0,*,2016-01-15,0.0,0.157,1748.7,23.0,...,NaN,SPX160115C00300000,2016-01-04,300.0,-1.8585,call,SPX,2008.87,0.0,0.0
1,NaN,1616.5,1612.7,1.0,*,2016-01-15,0.0,0.157,0.0,0.0,...,NaN,SPX160115C00400000,2016-01-04,400.0,-2.4780,call,SPX,2008.87,0.0,0.0
2,NaN,1516.7,1512.7,1.0,*,2016-01-15,0.0,0.157,1551.7,2281.0,...,NaN,SPX160115C00500000,2016-01-04,500.0,-3.0975,call,SPX,2008.87,0.0,0.0
3,NaN,1416.7,1412.5,1.0,*,2016-01-15,0.0,0.157,1425.5,15.0,...,NaN,SPX160115C00600000,2016-01-04,600.0,-3.7169,call,SPX,2008.87,0.0,0.0
4,NaN,1316.8,1312.7,1.0,*,2016-01-15,0.0,0.157,1249.4,14.0,...,NaN,SPX160115C00700000,2016-01-04,700.0,-4.3364,call,SPX,2008.87,0.0,0.0

In [9]:
sliced.tail()

,0,ask,bid,delta,exchange,expiration,gamma,impliedvol,last,openinterest,...,optionext,optionroot,quotedate,strike,theta,type,underlying,underlying_last,vega,volume
2557521,NaN,291.5,287.1,-0.7304,W,2018-12-31,0.0010,0.1254,0.0,0.0,...,NaN,SPXW181231P02950000,2017-12-29,2950.0,-25.8231,NaN,SPXW,2674.03,885.1245,0.0
2557522,NaN,331.7,327.1,-0.7698,W,2018-12-31,0.0009,0.1268,316.8,22.0,...,NaN,SPXW181231P03000000,2017-12-29,3000.0,-20.0281,NaN,SPXW,2674.03,813.8745,0.0
2557523,NaN,375.0,370.3,-0.8000,W,2018-12-31,0.0008,0.1303,0.0,0.0,...,NaN,SPXW181231P03050000,2017-12-29,3050.0,-15.6777,NaN,SPXW,2674.03,750.0871,0.0
2557524,NaN,426.6,406.2,-0.8292,W,2018-12-31,0.0007,0.1321,0.0,0.0,...,NaN,SPXW181231P03100000,2017-12-29,3100.0,-10.1362,NaN,SPXW,2674.03,679.9010,0.0
2557525,NaN,521.2,500.8,-0.8590,W,2018-12-31,0.0006,0.1446,0.0,0.0,...,NaN,SPXW181231P03200000,2017-12-29,3200.0,-6.2545,NaN,SPXW,2674.03,599.0158,0.0

In [10]:
sliced.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5027150 entries, 0 to 2557525
Data columns (total 21 columns):
0                  object
ask                float64
bid                float64
delta              float64
exchange           object
expiration         datetime64[ns]
gamma              float64
impliedvol         float64
last               float64
openinterest       float64
optionalias        object
optionext          float64
optionroot         object
quotedate          datetime64[ns]
strike             float64
theta              float64
type               category
underlying         object
underlying_last    float64
vega               float64
volume             float64
dtypes: category(1), datetime64[ns](2), float64(13), object(5)
memory usage: 810.2+ MB